/**/

#timer-digits {
    margin: 10 auto;
    text-align: center;
    font-size: 36px;
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

#timer-canvas {
    margin:20 auto;
    text-align: center;
}